- step = 0

- while @members[step]
  .row.members
    - 4.times do |i|
      - if @members[i + step].nil?
        - break
      = render partial: 'member', locals: {member: @members[i + step]}
    - step += 4
