$('.stuff').html("#{j (render 'settings')}");
$('#sidebar').replaceWith("#{j (render 'layouts/box/profile_sidebar')}");
new Behavior.Profile()
new Behavior.Avatar()
window.history.pushState('', '', "#{profile_path(u)}");
