.row(data-behavior='Profile')
  .four.columns
    = image_tag current_user.image
  .eight.columns
    .row
      .two.columns
        = label_tag 'user_type'
      .two.columns
        = select_tag 'user_type', options_for_select(User::TYPES, u.user_type), include_blank: _for(u.user_type), data: {action: profile_path, type: 'PUT'}
