$('#flash').replaceWith("#{j (render 'layouts/box/flash')}")
$('.container.stuff').html("#{j (render 'settings')}");
new Behavior.Flash()
new Behavior.Profile()
- if flash[:error]
  $('.stuff #name').val("#{u.reload.name}");
window.history.pushState('', '', "#{profile_path(u)}");
