%hr
%p
  Немає часу довго описувати цей сайт зараз 03.06.2016 21:19 в Чапаївці проходить фестиваль Тарасова Гора.
  Broken Rules - соціальна мережа присвячена всим любителям кастомайзингу та безпосередньо людям які будують мотоцикли, хот-роди і іншу не звичайну техніку. Тут можна знайти нові враження, постити свої роботи, та знаходити однодумців. Всі ідеї та побажання що до сайту пишіть на brokenrules.ucc@gmail.com. Все побіг на фестиваль. Приїду опишу більш детальніше.
