%hr
%p
  З недавнього часу на вулицях Українських міст стало все частіше помітніше кастом техініку яка захоплює влюбляє своєю свободою та непокірністю нав*язаних стандартів. Провівши певний час в інтернеті в пошуках людей, груп, сайтів на дану тематику не дало потрібних результатів це і стало однією з основною причиною створення Broken Rules.
%p
  Broken Rules - соціальна мережа присвячена для об*єднання всих любителів кастомайзингу та безпосередньо людей які будують мотоцикли, хот-роди і іншу незвичайну техніку. На даний момент сайт знаходить в стадії розробки але вже можна постити свої роботи та знаходити однодумців. Всі ідеї, побажання та питання що до сайту пишіть на brokenrules.ucc@gmail.com.

%p
  Давайте разом переконаємось що і в Україні є значна кількість білдерів та власників кастомів які можуть здивувати світ своєми роботами.
