.devise-navbar
  .row.title
    %span.main-title Broken Rules (BETA VERSION)
  .row
    .twelve.columns.logo
      = link_to root_path, class: 'navbar-brand' do
        = image_tag 'logo.png', class: 'nav-logo'
