%footer
  .row.options
    .six.columns.email
      = fa_icon 'envelope', class: 'black-color'
      %span brokenrules.ucc@gmail.com
    .six.columns.right
      %span Broken Rules
      = fa_icon 'copyright', class: 'black-color'
      %span 2016
