%footer
  .container
    .row.options
      .six.columns.email
        = fa_icon 'envelope', class: 'black-color'
        %span.email brokenrules.ucc@gmail.com
      .six.columns.right
        %span.title Broken Rules
        = fa_icon 'copyright', class: 'black-color'
        %span.data 2016
