.two.columns.sidebar
  = link_to 'Members', '#', class: 'button twelve columns'
  = link_to 'Action1', '#', class: 'button twelve columns'
  = link_to 'Action2', '#', class: 'button twelve columns'
  = link_to 'Action3', '#', class: 'button twelve columns'
