- @chops.each do |chop|
  .row.chop
    .four.columns.avatar
      = image_tag chop.image, class: 'image'
    .seven.columns.name
      = chop.name
    .one.column.actions
      = link_to '#', remote: true, title: 'Show more' do
        = fa_icon 'external-link-square 2x', class: 'black-color'
