.row
  .four.columns
    = render partial: 'dashboards/box/chop', collection: @chops[0]
  .four.columns
    = render partial: 'dashboards/box/chop', collection: @chops[1]
  .four.columns
    = render partial: 'dashboards/box/chop', collection: @chops[2]
