$('#sidebar').replaceWith("#{j (render 'layouts/box/sidebar')}");
$('.stuff').html("#{j (render 'users/box/people_content')}");
new Behavior.ToggleFollow()
window.history.pushState('', '', "#{following_user_path(@user)}");
