$('#sidebar').replaceWith("#{j (render 'layouts/box/sidebar')}");
$('.container.stuff').html("#{j (render partial: 'members_collection', locals: {users: @users})}");
window.history.pushState('', '', '/users');
