$('#sidebar').replaceWith("#{j (render 'layouts/box/sidebar')}");
$('.stuff').html("#{j (render 'users/box/show_content')}");
new Behavior.Navigation()
window.history.pushState('', '', "#{user_path(@user)}");
