$('.stuff').html("#{j (render 'layouts/box/sidebar')}");
- if params[:page] == 'profile'
  $('.stuff').append("#{j (render 'users/box/show_content')}");
- else
  $('.stuff').append("#{j (render 'users/box/people_content')}");
new Behavior.ToggleFollow()
new Behavior.Tabs()
