.row.chop-container
  .row
    #projector{data: {behavior: 'ImageGallery', data: @chop_images}}
  .row
    %p= @chop.name
  .row
    %p.desc= @chop.description.html_safe
  - if @chop.youtube_url.present?
    .row.youtube-container
      = youtube_video(@chop.youtube_url)
