$('.stuff').html("#{j (render partial: 'layouts/box/profile_sidebar')}");
$('.stuff').append("#{j (render 'chops/box/index_content')}")
$('#flash').replaceWith("#{j (render 'layouts/box/flash')}")
new Behavior.Flash()
$('.spinner-wrap').hide();
