$('#sidebar').replaceWith("#{j (render 'layouts/box/profile_sidebar')}");
$('.stuff').html("#{j (render partial: 'chops/box/form', locals: {url: chop_path(@chop), method: 'PUT'})}")
new Behavior.Spinner()
window.history.pushState('', '', "#{edit_chop_path(@chop)}");
