$('#sidebar').replaceWith("#{j (render 'layouts/box/profile_sidebar')}");
$('.stuff').html("#{j (render 'chops/box/index_content')}")
$('#flash').replaceWith("#{j (render 'layouts/box/flash')}")
new Behavior.Flash()
window.history.pushState('', '', "#{chops_path}");
