.three.columns.gn-c
  = link_to user_path(user), data: {push: true} do
    = image_tag user.avatar.url(:thumb)
  %div= link_to user.name, user_path(user), data: {push: true}
  %div= follow_button(params[:action], @user.id, user)
