.three.columns.gn-c
  = link_to user_path(user), class: 'super', remote: true do
    = image_tag user.avatar.url(:thumb), class: 'super'
  %div= link_to user.name, user_path(user), class: 'super', remote: true
  %div= follow_button(params[:action], @user.id, user)
