#people_content
  .row
    = link_to user_path(@user), remote: true, class: 'super' do
      = image_tag @user.avatar.url(:thumb), class: 'super'
    = link_to @user.name, user_path(@user), remote: true, class: 'super'
  %hr
  - step = 0

  - while @users[step]
    .row
      - 4.times do |i|
        - if @users[i + step].nil?
          - break
        = render partial: 'users/box/people', locals: {user: @users[i + step]}
      - step += 4
