$('#sidebar').replaceWith("#{j (render 'layouts/box/sidebar')}");
$('.stuff').html("#{j (render 'shared/chop_content')}");
new Behavior.ImageGallery()
window.history.pushState('', '', "#{dashboard_path(@chop)}");
