$('#sidebar').replaceWith("#{j (render 'layouts/box/sidebar')}");
$('.stuff').html("#{j (render 'shared/chop_content')}");
new Behavior.ImageGallery()
new Behavior.Navigation()
window.history.pushState('forward', null, "#{dashboard_path(@chop)}");
