.nav-auto-align, .nav-logo-gn, .gn-c, #setting .avatar
  text-align: center
  text-align: -webkit-center
  text-align: -moz-center

.gn-r
  text-align: right

.gn-l
  text-align: left

.active
  background: #F2F2F2

a
  outline: 0

.pointer
  cursor: pointer

.hd
  display: none

.devise
  .column, .columns
    float: none
  .login
    width: 230px
  .remember
    input
      float: right
    label
      float: left
      line-height: 18px

.members, .albums
  margin-bottom: 50px
  &:last-of-type
    margin-bottom: 0px

.members
  .member
    img
      border-radius: 6px
      width: 100px

.navbar
  .title
    margin-bottom: 20px
.devise-navbar
  text-align: center

.chop
  margin-bottom: 35px
  &:last-of-type
    margin-bottom: 0px

.u-chops
  .add-chop
    margin-bottom: 20px
.chop-container
  .desc
    text-align: justify

#projector
  height: 60%
  width: 40%

#setting
  .avatar
    margin-bottom: 10px
    img
      border-radius: 6px
    .male-avatar
      background-image: image-url('missing3.png')
      background-position: -62px -464px
      cursor: pointer
      height: 230px
      width: 230px
    .female-avatar
      background-image: image-url('missing3.png')
      background-position: -335px -45px
      cursor: pointer
      height: 230px
      width: 230px
