.nav-auto-align, .nav-logo-gn, .gn-c
  text-align: center

.gn-r
  text-align: right

.gn-l
  text-align: left

.active
  background: #F2F2F2

a
  outline: 0

.pointer
  cursor: pointer

.members, .albums
  margin-bottom: 50px
  &:last-of-type
    margin-bottom: 0px

.navbar
  .title
    margin-bottom: 20px
.devise-navbar
  text-align: center

.chop
  margin-bottom: 35px
  &:last-of-type
    margin-bottom: 0px

.u-chops
  .add-chop
    margin-bottom: 20px
.chop-container
  .desc
    text-align: justify

#projector
  height: 60%
  width: 40%
