.nav-auto-align, .nav-logo-gn, .gn-c, #setting .avatar
  text-align: center
  text-align: -webkit-center
  text-align: -moz-center

.gn-r
  text-align: right

.gn-l
  text-align: left

.active
  background: #F2F2F2

a
  outline: 0

.pointer
  cursor: pointer

.hd
  display: none

.devise
  .column, .columns
    float: none
  .login
    width: 230px
  .remember
    input
      float: right
    label
      float: left
      line-height: 18px

.members, .albums
  margin-bottom: 50px
  &:last-of-type
    margin-bottom: 0px

.members
  .member
    .unfollow
      border-bottom: 2px solid goldenrod
    .follow
      border-bottom: 2px solid white
    img
      border-radius: 6px
      width: 100px

.navbar
  .title
    margin-bottom: 20px
.devise-navbar
  text-align: center

.chop
  margin-bottom: 35px
  &:last-of-type
    margin-bottom: 0px

.u-chops
  .add-chop
    margin-bottom: 20px
.chop-container
  .desc
    text-align: justify

#projector
  height: 60%
  width: 40%

#setting, #detail_user
  .avatar
    margin-bottom: 10px
    img
      border-radius: 6px
    .male-avatar
      background-image: image-url('missing3.png')
      background-position: -62px -464px
      height: 230px
      width: 230px
    .female-avatar
      background-image: image-url('missing3.png')
      background-position: -335px -45px
      height: 230px
      width: 230px

#pre_setting
  .avatar
    img
      height: 230px
      width: 230px

#avatar_cropbox
  overflow: auto
#avatar_crop_preview_wrapper
  border-radius: 6px
  height: 230px !important
  margin: 10px
  width: 230px !important

#detail_user
  .data
    h5
      margin: 10px 0 0 0
    hr
      margin: 10px 0
    .option
      width: 20px
    .activity
      .link
        float: left
        width: 33.3%
        .count
          display: block
          font-size: 24px
        .title
          font-size: 11px
    .f-btn
      text-align: center

#people_content
  img
    width: 100px
