#play_list
  .record
    /*border-bottom: 1px solid #D0D0D0
    display: flex
    font-size: 12px
    height: 27px
    padding: 5px 0px

    .play-song, .continue
      @extend .fa, .fa-play, .fa-2x
      cursor: pointer
      margin-left: 10px
      margin-right: 2px

    .pause
      @extend .fa, .fa-pause, .fa-2x
      cursor: pointer
      margin-left: 10px
      margin-right: 2px

    .track_name
      line-height: 2.1

    .overme
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap
      width: 100%

    &:first-child
      /*border-top: 1px solid #D0D0D0

.running
  background: #F2F2F2 !important
