@import  url(https://fonts.googleapis.com/css?family=Montserrat);

$width: 15px;
$height: 15px;

$bounce_height: 30px;

.spinner-wrap {
  background: black none repeat scroll 0 0;
  border-radius: 0;
  display: none;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0.88;
  z-index: 1000;
}

.loading {
  text-align: center;
  margin-top: 30%;
}

.text {
  color: #fbae17;
  display: inline-block;
  margin-left: 5px;
}

.bounceball {
  position: relative;
  display: inline-block;
  height: 37px;
  width: $width;
  &:before {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    width: $width;
    height: $height;
    border-radius: 50%;
    background-color: #fbae17;
    transform-origin: 50%;
    animation: bounce 500ms alternate infinite ease;
  }
}

@keyframes bounce {
  0% {
    top: $bounce_height;
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    transform: scaleX(2);
  }
  35% {
    height: $width;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0;
  }
}
