@import 'normalize';
@import 'skeleton';
@import 'colors';
@import 'navbar';
@import 'base';
@import 'player';
@import 'play_list';
@import 'knack';
@import 'font-awesome';
@import 'sidebar';
@import 'flash';
@import 'jquery.jcrop';
@import 'spinner';
@import 'youtube-container';
@import 'about_us';
@import 'images_navbars';

a {
  text-decoration: none;
}

body {
  background-color: #f7f7f9;
  position: relative;
}

.mc {
  margin-bottom: 60px;
  z-index: 100;
}

@font-face {
  font-family: 'JollyLodger-Regular';
  src: url(/assets/jolly-lodger-regular.ttf) format('truetype');
}

@font-face {
  font-family: 'SKULL';
  src: url(/assets/skull.otf) format('opentype');
}

@font-face {
  font-family: 'URGH';
  src: url(/assets/urgh.otf) format('opentype');
}

.jl-f {
  font-family: 'JollyLodger-Regular';
}

.ur-f {
  font-family: 'URGH';
}
