@import 'normalize';
@import 'skeleton';
@import 'colors';
@import 'navbar';
@import 'base';
@import 'player';
@import 'play_list';
@import 'knack';
@import 'font-awesome';
@import 'sidebar';
@import 'flash';
@import 'jquery.jcrop';
@import 'spinner';
@import 'youtube-container';

a {
  text-decoration: none;
}


#projector {
  height: 300px;
  width: 500px;
}
