$('#sidebar').replaceWith("#{j (render 'layouts/box/sidebar')}");
$('.container.stuff').html("#{j (render 'musics/shared/albums_content')}");
window.history.pushState('', '', "#{albums_musics_path}");
