$('#sidebar').replaceWith("#{j (render 'layouts/box/sidebar')}");
$('.stuff').html("#{j (render 'musics/shared/list_content')}")
new Behavior.Music()
window.history.pushState('', '', "#{list_musics_path}");
